
extends layout

block prepend title
	| #{ page.title } - 

block content
	include includes/published
	!= page.html
		//- underscore helps us filter and sort our articles
	- var archive = _.chain(pubArticles).sortBy(function(item) {
	-   return -item.date
	- }).groupBy(function(item) {
	-   return item.date.getFullYear()
	- }).value()
	- var map = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

	section.archive
		.row
			.small-12.columns
				h2 Posts Archive
		each year in _.chain(archive).keys().reverse().value()
			.row.year-list
				.small-1.columns
					h2=year
			- var months = _.groupBy(archive[year], function(item) { return map[item.date.getMonth()] })
			each articles, month in months
				.row.month-list
					.large-1.small-4.small-offset-1.columns
						h3= month
					.large-10.small-7.columns.article-list
						ul.no-bullet
							each article in articles
								li
									a(href=article.url)= article.title
									p= article.metadata.abstract

			
		