extends layout

block append head
block content
	include includes/author
	include includes/published

			- var articles = _.first(pubArticles,locals.index_articles) // take the first few only
			- var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']


	each article in articles
		.row
			.large-12.columns
				div.articlebox.wide
					a(href=article.url)
						div.toptitle= article.title  
					div.content
						if article.metadata.image
							.row
								.large-2.columns
									a(href=article.url)
										img(src=article.url+article.metadata.image, alt=article.metadata.abstract)
								.large-10.columns         
									!= article.intro
						else
							.row
								.large-12.columns          
									section.content
										!= article.intro
					if article.hasMore
						a(href=article.url)
							div.more read more &rarr;
		

	.row
		.large-12.columns
			hr

	.row
		.large-12.columns
			p 
				| To see older articles, check out 
				a(href='/archive/') Archived 
				| or 
				a(href='/tagindex/') Tagged 
				| posts.
