extends layout

block append head
	script(src='/js/vendor/jquery.isotope.min.js')

block content
	include includes/author
	include includes/published
	- var articles = _.chain(pubArticles).filter(function(item) {
	-		if (page.title==="Index") {
	-			return item
	-		} else if (item.metadata.tags && item.metadata.tags.length > 0) {
	-			var taglist = _.flatten(item.metadata.tags.split(','))
	-			var tagexists = _.some(taglist, function(tag){return tag.trim() === page.metadata.id})
	-			if (tagexists) { return item }	
	-		}
	-	}).sortBy(function(item) { 
	-   // sort them by date
	-			return -item.date
	- }).first(locals.index_articles).value() // and finally take the first few only

	.row
		div#container
			each article in articles
				div.articlebox
					if article.metadata.image
						a(href=article.url)
							img(src=article.url+article.metadata.image, alt=article.metadata.abstract, class='right')
					h3
						a(href=article.url)= article.title  
					!= article.intro
					if article.hasMore
						p
							a(href=article.url).button.round.small read more &rarr;


	.row
		.large-12.columns
			p 
				| To see older articles, check out 
				a(href='/archive/') Archived 
				| or 
				a(href='/tagindex/') Tagged 
				| posts.

	script	
		$(window).load(function(){
			var $container = $('#container');
			$container.isotope({
				layoutMode: 'masonry',
				itemSelector: '.articlebox'
			});
		});
