extends layout

block append head
	script(src='/js/vendor/jquery.isotope.min.js')

block content
	include includes/author
	include includes/published

	mixin tag(tagName)
		- var tag = contents.tags[tagName + '.md']
			span | 
			if tag
				a(href='', data-filter='[data-tags~="'+tagName+'"]')
					span= tag.title
			else
				span= tagName

	- var articles = _.first(pubArticles,locals.index_articles)

	- var tagList = _.chain(articles).filter(function(item) {
	-   return (item.metadata.tags && item.metadata.tags.length > 0)
	- }).map(function(item){ 
	-		return item.metadata.tags.split(',')
	-	}).flatten().map(function(item){
	-		return item.trim()
	-	}).union().value()

	.row
		div.tagnav
			dl.sub-nav#filters
				dt Show Recent posts:
				dd.active
					a(href='', data-filter='*') 
						span All
				each tagName in tagList	
					dd
						mixin tag(tagName)


	.row
		section#container
			each article in articles
				-	if (article.metadata.tags && article.metadata.tags.length > 0) { 
				-	var articleTags = ""
				-		_.each(article.metadata.tags.split(','), function(item) {
				-			articleTags += item.trim()+" "
				-		})
				- }

				div.articlebox.narrow(data-tags=articleTags)
					a(href=article.url)
						div.toptitle= article.title  
					div.content
						if article.metadata.image
							a(href=article.url)
								img.titleimg(src=article.url+article.metadata.image, alt=article.metadata.abstract)
						!= article.intro
					if article.hasMore
						a(href=article.url)
							div.more read more &rarr;
	
	.row
		.large-12.columns
			hr
			p 
				| To see older articles, check out 
				a(href='/archive/') Archived 
				| or 
				a(href='/tagindex/') Tagged 
				| posts. For a more standard 'blog' view, check out the recent posts in 
				a(href='/chrono/') Chronological 
				| order.

	script.
		var $container = $('#container');
		$(window).load(function(){
			$container.isotope({
				layoutMode: 'masonry',
				itemSelector: '.articlebox'
			});
		});
		$('#filters a').click(function(){
			$('#filters dd').removeClass('active');
			$(this).parent().addClass('active');
			var selector = $(this).attr('data-filter');
			$container.isotope({ filter: selector });
			return false;
		});
